.dish{
    
    margin: auto;
    text-align: center;
    margin-right: 37px;
}
.ingredients{
   
    margin: auto;
    text-align: center;
    width: 200px;
    padding-right: 37px;
    /* in entree.js */
}