.intro-image-post-dish {
  width: 100%;
  height: 200px;
  background-image: url("https://static1.squarespace.com/static/57d6b5dd2994cab476e95790/57d95d67b8a79bf906f67b41/57d9657df5e231a184e8140a/1473865090916/Stocksy_txp0f79248d7x2100_Large_461838.jpg?format=2500w");
  background-size: cover;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  padding-top: 10px;
}
.post-dish-outside-container {
  background-image: url("https://static1.squarespace.com/static/52e968b5e4b04d2aa2a3bba3/535817d6e4b0950857ff2550/535aafc8e4b0c36446ce4ad8/1398452200863/10748178545_3e1e4056b9_k.jpg?format=2500w");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #2c2c32;
  margin: auto;
}
.post-dish-container {
  background-color: black;
  opacity: .9;
  height: 100%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
img {
  width: 70%;
  border: 3px solid grey;
  /* in dish */
}
.post-dish-spinner {
  margin: auto;
  width: 80px;
  height: 80px;
}
.post-dish-spinner-container {
  margin-left: 20px;
}
.choose-pic {
  margin: auto;
  height: 200px;
  width: 250px;
  display: block;
  margin-bottom: 10px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.choose-pic:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
@media only screen and (min-width: 740px) {
  .intro-image-post-dish {
    height: 700px;
  }
  img {
    width: 400px;
    height: 300px;
    border: 3px solid grey;
  }
  .post-dish-spinner {
    margin: auto;
    width: 80px;
    height: 80px;
  }
  .post-dish-spinner-container {
    margin-left: 20px;
  }
  .the-dish {
    width: 50%;
    display: inline-block;
    /* left side is in input-ingredient.css*/
  }
}