


.registration-spinner{
    margin-left: 15%;
    text-align: center;
}

  @media only screen and (min-width: 740px) {
   
    .registration-spinner{
      margin-left: 47.5%;
      text-align: center;
  }
  }




