body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  color: silver;
}

label {
  display: block;
  margin: 6px;
}

input,
textarea,
button {
  margin: 6px;
  display: block;
}

img {
  width: 400px;
  height: 300px;
  border: 3px solid grey;
}
li {
  list-style-type: none;
}
.table{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin-left: 30px;
  text-align: center;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.white-color{
  color: white;
}
.link-group{
  background-color: grey;
  padding-bottom: 10px;
}
.button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  background-color: grey;
  font-size: 17px;
  height: 50px;
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
 }
 .button:hover {
 background-color: #A8A8A8;
}
.link{
  padding-right: 20px;
}
